/* * {

    margin: 0;
    padding: 0;
} 
/* .flexContenedor > div  {

    width: 50%;

} */




:root {

    --rojo : #900a1a;
    --naranja : #f72734;
    --azul : #412688;
}

h1 {

    margin-top: 0;
}


 /* Clases CSS */
#colorUno {

    background-color: var(--rojo);
}

#colorDos {

    background-color: var(--naranja);
}

#colorTres {

    background-color: var(--azul);
}

#encabezado {

    font-size: 80px;
    color: white;
    background-color:var(--rojo);
    text-align: center;

}

#cuerpo {

    background-color: var(--naranja);

}

#cuadro {

    background-color: var(--azul);
}

.flexContenedor {

    display: flex;
    
}

.divIzquierda {
    width: 40%;
   
}

.divDerecho {

    width: 50%;
    background-color: var(--azul);
    height: 400px;
    text-align: center;
}

.colorLetra {

    color: white;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }

  .colorBotonIzquierdo {
    background: rgb(246,34,50);
    background: linear-gradient(90deg, rgba(246,34,50,1) 0%, rgba(253,132,31,1) 100%);
  }

  .colorBotonDerecho {
    background-color: #5665f0;
    
  }